body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Установите отступы, чтобы контент не касался краев */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Переопределить поведение начальной загрузки по умолчанию, когда горизонтальные списки описаний
   будет обрезать термины, которые слишком длинные, чтобы поместиться в левом столбце
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Установите ширину элементов ввода формы, поскольку по умолчанию они имеют ширину 100%. */
input,
select,
textarea {
    max-width: 280px;
}
.btn {
    outline: none;
    border: 0px;
    box-sizing: none;
    background-color: transparent;
    }
