@model Schedule.Models.Para

@{
    ViewBag.Title = "Delete";
}

<h3>Вы уверены, что хотите удалить это?</h3>
<div>
    <h4>Пара</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Номер
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Number)
        </dd>

        <dt>
            День недели
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DayId)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-primary" /> |
            @Html.ActionLink("Назад", "Index")
        </div>
    }
</div>
